body{
    background-image:url(https://i.pinimg.com/originals/da/a2/00/daa200f18f6a94e580d9834617d2a308.jpg);
    background-size:cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
color:white;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
h1{
    letter-spacing: 3px;
    text-shadow: red 1px 1px;
    align-content: center;
    width: 100%;
    text-align: center;
}
header{
     display:flex;
     flex-direction: column;
     width: 100%;
     justify-content: space-between;
     position: fixed;
     top: 0px;
}

#receptacle{
    padding: 0.8em;
}

#message{
    display: none;
    justify-content: center;
    align-items: center;
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2.5em;
}
input{
    background-color: rgb(230, 83, 57);
    border-radius: 5px;
    border: black solid 3px;
    box-shadow: black 0px 0px 2px;
    padding: 1em;
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
    text-shadow: -2px 0 black, 0 2px black,
    1px 0 black, 0 -2px black;
}
input:active{
    transform: scale(1.2);
}
input:hover{
    background-color: rgb(196, 71, 49);
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 86%;
    padding: 0px;
    margin: 0px;
    overflow:none;
}

.content div:first-child img{
    transform: scaleX(-1);

}
.icone{
    height: 40px;
    width: auto;
}
#restart{
    display: none;
}
.musique{
    width: min-content;
    position: absolute;
    top: auto;
    right: 50px;
    padding:1em;
}
